* {
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    background-color: rgb(180, 105, 105);
    margin: 0 auto;
    width: 500px;
}

.wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    background-color: #fff;
    font-size: 40px;
    padding: 20px;
}

.result {
    padding-top: 20px;
}

input {
    width: 100%;
    border: 3px solid #000;
    padding: 10px;
    font-size: 22px;
}

label {
    font-size: 32px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

select {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    font-size: 24px;
    margin-bottom: 30px;
}

button {
    display: block;
    margin: 0 auto;
    width: 75%;
    font-size: 30px;
    padding: 20px 0;
    background-color: #fff;
    border: none;
}

